<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="css/style3.css">
</head>
<body>
<div id="container">
  <div class="confirmation-modal">
    <h2>Welcome</h2>
    <p>We've just sent you an email verification code</p>

    <form id="confirmation-form">
 <!--     <input type="number" placeholder="Enter the verification code..." required autofocus>
   -->   <input type="hidden" value="test@test.com">
      <input  value="Please Check Your Mail">
    </form>
  </div>
</div>

</body>
</html>